{% extends 'admin/home.html.twig' %}


{% block main %}

    <div>
        {#            Pour chaque admin parmis les admins#}
        <h2>Liste des Admins</h2>
        {% for admin in admins %}
            <div class="ContentAdmin">
                <h2 class="titre">{{ admin.email }}</h2>
                {% for role in admin.roles %}
                    <span>{{ role }} | </span>
                {% endfor %}
            </div>
        {# Liens pour la modification d'un admin#}
        <a class="ongletAdmin" href="{{ path('admin_update',{'id': admin.id}) }}">Modifier un admin</a>
{#        Lien pour la suppression d'un admin#}
        <a class="ongletAdmin" href="{{ path('admin_delete',{'id': admin.id}) }}">Supprimer un admin</a>
    </div>
        {% endfor %}

{% endblock %}
