{% extends 'admin/home.html.twig' %}

{% block title %}
    <title>Les Prestations</title>
{% endblock %}

{% block main %}
    <div class="content">
    {% for category in categories %}
        <h1>{{ category.name }}</h1>
        <a href="{{ path('admin_show_prestation',{'id':category.id}) }}">voir la prestation</a>
    </div>
    {% endfor %}
{% endblock %}