.apropos{
  display: flex;
  width: 90vw;
}

.images_apropos{
  margin-left: 50px;
}


.text_apropos{
  display: flex;
  margin-left: 50px;
}
/*Responsive*/

@media screen and (max-width: 426px) {
  .apropos1{
  display: none;
  }
.apropos2{
  display: none;
}
  .text_apropos{
    margin: 0;
  }
}
