.logo-header{
  width: 100px;
  display: flex;
  margin-left: 20px;
}

.connexion{
  display: flex;
  justify-content: flex-end;
  color: whitesmoke;
  &:hover{
    text-decoration: none;
    color: #aa00b7;
  }
}

.header-top {
  display: flex;
  justify-content: center;
  //background-color: lightpink;
}
.hautpage{
  align-items: center;
  justify-content: space-around;
  padding:20px 0;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap:35px;
}

.nav-items a{
  color:white;
  text-decoration: none;
  transition: color .3s linear;
  &:hover{
    color: #aa00b7;
  }
}

/*** home ***/
.background {
  height: 80vh;
  background-image: url('../img/soin-corps.jpg');
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  &::after{
    content:'';
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.45);
    position:absolute;
    top:0;
    left:0;
    z-index:2000;
  }

  .textWrapper{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:3000;
  }
}

/*** carousel joli moins moche ***/
.owl-item{
  height:30vh;
  position: relative;
  &::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
  }
}
.owl-item > *{
  height:30vh
}

.owl-item h4{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index:3000;
}

.owl-item img{
  width:100%;
  height: 100%;
  object-fit:cover;
}

.owl-carousel{
  margin:50px 0
}


/*Responsive*/

@media screen and (max-width: 800px) {
  .background .textWrapper{
    width: 80%;
  }
}
@media screen and (max-width: 426px) {
  .background .textWrapper{
    p{
      visibility: hidden;
    }

  }
}



