{% extends 'base.html.twig' %}

{% block title %}
    <title>A propos</title>
{% endblock %}

{% block main %}
    <article class="apropos">
        <div class="images_apropos">
        <img class="apropos1" src="{{ asset('assets/img/photo_emma.jpg') }}">
        <img class="apropos2" src="{{ asset('assets/img/table.jpg') }}">
        </div>
        <div class="text_apropos">
        <p>Possédant un BEP, un bac professionnel esthétique  ainsi que de nombreuses expériences dans des enseignes tels que Beauty succes et Sephora pendants les années qui ont suivis mes diplomes j'ai ensuite décidé de me lancer en solo afin d'appliquer des tarifs préférentiels et pour créer un lien fort avec ma clientèle.
            Je ne propose mes prestation qu'a une clientèle féminine</p>
        </div>
    </article>
{% endblock %}

