{% extends 'base.html.twig' %}

{% block title %}
    <title>A propos</title>
{% endblock %}

{% block main %}
    <article class="apropos">
        <br>
        <img class="apropos1" src="{{ asset('assets/img/manon_image.jpg') }}">
        <img class="apropos2" src="{{ asset('assets/img/table.jpg') }}">
        <p>Possédant un BEP ainsi qu'un bac professionnel esthétique  j'ai décider de me lancer en solo afin d'appliquer des tarifs préférentiels et pour créer un lien fort avec ma clientèle.
            Je ne propose mes prestation qu'a une clientèle féminine</p>
    </article>
{% endblock %}

