{% extends 'base.html.twig' %}

{% block title %}
    <title>Contact</title>
{% endblock %}


{% block main %}

    <h1>Emplacement</h1>
    <img class="carte" src="{{ asset('assets/img/emplacement_emma.png') }}">
    <br>
    <br>
    <h1>Contactez moi par téléphone</h1>
    <p>0695581475</p>
    <br>
    <br>
    <h1>Contactez moi par mail</h1>
    <p>Emma.Institut@gmail.com</p>

{% endblock %}