{% extends 'base.html.twig' %}

{% block title %}
    <title>Contact</title>
{% endblock %}


{% block main %}
<div class="emplacement">
    <h1>Emplacement</h1>
    <img class="carte" src="{{ asset('assets/img/emplacement_emma.png') }}">
</div>
<div class="telephone">
    <h1>Contactez moi par téléphone</h1>
    <p class="numero">0695581475</p>
</div>
<div class="email">
    <h1>Contactez moi par mail</h1>
    <p>Emma.Institut@gmail.com</p>
</div>

{% endblock %}