{% extends 'base.html.twig' %}


{% block title %}
    <title>L'univers d'EMMA </title>
    <h1>Bienvenue sur l'univers d'EMMA</h1>
{% endblock %}

{% block body %}
    <p>Ici règne la douceur, la complicité et le bien être, je vous accueille chez moi dans un espace cocooning qui vous mettra
        de suite à l'aise: Soin, épilation, massage, maquillage, il y as forcement quelques chose, qui vous rendra un peu plus heureux et serein!
        <br>
        <br>
        Bienvenue chez moi, bienvenue chez vous.
        <br>
        <br>
        Bienvenue dans mon univers </p>
{% endblock %}